In [258]:
import pandas as pd
df = pd.read_csv("ngt_software_engineer_test_example_data (clean columns).csv") #use it later for firebase
data = pd.read_csv("ngt_software_engineer_test_example_data (clean columns).csv")
data

,Subfund_Code,Share_Class_Code,Valuation_Date,Subfund_CCY,Net_Asset_Value,Nb_Shares_Outstanding,NAV_Per_Share,CCY_NAV_share,ISIN_Code,Nb_Shares_Subscribed,Amount_Subscribed,Nb_Shares_Redeemed,Amount_Redeemed,Subfund_Long_Name,Dividend_Per_Share,Dividend_Payment_Date,Dividend_PCCY,Dividend_Payment_CCY,Dividend_Subfund_CCY,Total_Net_Assets
0,1,A,02/01/2018,EUR,5.347299e+07,5.649614e+05,111.6870,EUR,LU1234DEMO1A,0.0000,0.000000e+00,0.0000,0.000000e+00,NaN,0.0,0.0,0,0,EUR,5.347299e+07
1,1,A,03/01/2018,EUR,5.361573e+07,5.649742e+05,111.9820,EUR,LU1234DEMO1A,0.0000,0.000000e+00,0.0000,0.000000e+00,NaN,0.0,0.0,0,0,EUR,5.361573e+07
2,1,A,04/01/2018,EUR,5.370689e+07,5.653380e+05,112.1000,EUR,LU1234DEMO1A,0.0000,0.000000e+00,0.0000,0.000000e+00,NaN,0.0,0.0,0,0,EUR,5.370689e+07
3,1,A,05/01/2018,EUR,5.394670e+07,5.661307e+05,112.4422,EUR,LU1234DEMO1A,25.7948,2.441562e+03,12.9800,1.228545e+03,NaN,0.0,0.0,0,0,EUR,5.394670e+07
4,1,A,08/01/2018,EUR,5.405191e+07,5.662820e+05,112.6310,EUR,LU1234DEMO1A,549.7030,5.216649e+04,185.9798,1.764937e+04,NaN,0.0,0.0,0,0,EUR,5.405191e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2537,3,B,21/12/2018,NOK,1.386281e+09,5.951755e+06,274.8456,NOK,LU1234DEMO3B,0.0000,0.000000e+00,18290.0000,4.260107e+06,NaN,0.0,0.0,0,0,NOK,1.386281e+09
2538,3,B,22/12/2018,NOK,1.383648e+09,5.933465e+06,275.1642,NOK,LU1234DEMO3B,0.0000,0.000000e+00,0.0000,0.000000e+00,NaN,0.0,0.0,0,0,NOK,1.383648e+09
2539,3,B,27/12/2018,NOK,1.395025e+09,5.933465e+06,277.4298,NOK,LU1234DEMO3B,0.0000,0.000000e+00,206.5000,4.855021e+04,NaN,0.0,0.0,0,0,NOK,1.395025e+09
2540,3,B,28/12/2018,NOK,1.399943e+09,5.933259e+06,278.4210,NOK,LU1234DEMO3B,164866.3314,3.890021e+07,0.0000,0.000000e+00,NaN,0.0,0.0,0,0,NOK,1.399943e+09
2541,3,B,29/12/2018,NOK,1.439665e+09,6.098125e+06,278.5744,NOK,LU1234DEMO3B,0.0000,0.000000e+00,3235.8668,7.639220e+05,NaN,0.0,0.0,0,0,NOK,1.439665e+09

In [259]:
data.set_index( ['Subfund_Code', 'Share_Class_Code','Valuation_Date' ],inplace = True)
data

                                             Subfund_CCY  Net_Asset_Value  \
Subfund_Code Share_Class_Code Valuation_Date
1            A                02/01/2018             EUR     5.347299e+07
                              03/01/2018             EUR     5.361573e+07
                              04/01/2018             EUR     5.370689e+07
                              05/01/2018             EUR     5.394670e+07
                              08/01/2018             EUR     5.405191e+07
...                                                  ...              ...
3            B                21/12/2018             NOK     1.386281e+09
                              22/12/2018             NOK     1.383648e+09
                              27/12/2018             NOK     1.395025e+09
                              28/12/2018             NOK     1.399943e+09
                              29/12/2018             NOK     1.439665e+09

                                              Nb_Shares_Outstanding  \
Subfund_Code Share_Class_Code Valuation_Date
1            A                02/01/2018               5.649614e+05
                              03/01/2018               5.649742e+05
                              04/01/2018               5.653380e+05
                              05/01/2018               5.661307e+05
                              08/01/2018               5.662820e+05
...                                                             ...
3            B                21/12/2018               5.951755e+06
                              22/12/2018               5.933465e+06
                              27/12/2018               5.933465e+06
                              28/12/2018               5.933259e+06
                              29/12/2018               6.098125e+06

                                              NAV_Per_Share CCY_NAV_share  \
Subfund_Code Share_Class_Code Valuation_Date
1            A                02/01/2018           111.6870           EUR
                              03/01/2018           111.9820           EUR
                              04/01/2018           112.1000           EUR
                              05/01/2018           112.4422           EUR
                              08/01/2018           112.6310           EUR
...                                                     ...           ...
3            B                21/12/2018           274.8456           NOK
                              22/12/2018           275.1642           NOK
                              27/12/2018           277.4298           NOK
                              28/12/2018           278.4210           NOK
                              29/12/2018           278.5744           NOK

                                                 ISIN_Code  \
Subfund_Code Share_Class_Code Valuation_Date
1            A                02/01/2018      LU1234DEMO1A
                              03/01/2018      LU1234DEMO1A
                              04/01/2018      LU1234DEMO1A
                              05/01/2018      LU1234DEMO1A
                              08/01/2018      LU1234DEMO1A
...                                                    ...
3            B                21/12/2018      LU1234DEMO3B
                              22/12/2018      LU1234DEMO3B
                              27/12/2018      LU1234DEMO3B
                              28/12/2018      LU1234DEMO3B
                              29/12/2018      LU1234DEMO3B

                                              Nb_Shares_Subscribed  \
Subfund_Code Share_Class_Code Valuation_Date
1            A                02/01/2018                    0.0000
                              03/01/2018                    0.0000
                              04/01/2018                    0.0000
                              05/01/2018                   25.7948
                              08/01/2018                  549.7030
...                                                            ...
3            B                21/12/2018                    0.0000
                              22/12/2018                    0.0000
                              27/12/2018                    0.0000
                              28/12/2018               164866.3314
                              29/12/2018                    0.0000

                                              Amount_Subscribed  \
Subfund_Code Share_Class_Code Valuation_Date
1            A                02/01/2018           0.000000e+00
                              03/01/2018           0.000000e+00
                              04/01/2018           0.000000e+00
                              05/01/2018           2.441562e+03
                              08/01/2018           5.216649e+04
...                                                         ...
3            B                21/12/2018           0.000000e+00
                              22/12/2018           0.000000e+00
                              27/12/2018           0.000000e+00
                              28/12/2018           3.890021e+07
                              29/12/2018           0.000000e+00

                                              Nb_Shares_Redeemed  \
Subfund_Code Share_Class_Code Valuation_Date
1            A                02/01/2018                  0.0000
                              03/01/2018                  0.0000
                              04/01/2018                  0.0000
                              05/01/2018                 12.9800
                              08/01/2018                185.9798
...                                                          ...
3            B                21/12/2018              18290.0000
                              22/12/2018                  0.0000
                              27/12/2018                206.5000
                              28/12/2018                  0.0000
                              29/12/2018               3235.8668

                                              Amount_Redeemed  \
Subfund_Code Share_Class_Code Valuation_Date
1            A                02/01/2018         0.000000e+00
                              03/01/2018         0.000000e+00
                              04/01/2018         0.000000e+00
                              05/01/2018         1.228545e+03
                              08/01/2018         1.764937e+04
...                                                       ...
3            B                21/12/2018         4.260107e+06
                              22/12/2018         0.000000e+00
                              27/12/2018         4.855021e+04
                              28/12/2018         0.000000e+00
                              29/12/2018         7.639220e+05

                                              Subfund_Long_Name  \
Subfund_Code Share_Class_Code Valuation_Date
1            A                02/01/2018                    NaN
                              03/01/2018                    NaN
                              04/01/2018                    NaN
                              05/01/2018                    NaN
                              08/01/2018                    NaN
...                                                         ...
3            B                21/12/2018                    NaN
                              22/12/2018                    NaN
                              27/12/2018                    NaN
                              28/12/2018                    NaN
                              29/12/2018                    NaN

                                              Dividend_Per_Share  \
Subfund_Code Share_Class_Code Valuation_Date
1            A                02/01/2018                     0.0
                              03/01/2018                     0.0
                              04/01/2018                     0.0
                              05/01/2018                     0.0
                              08/01/2018                     0.0
...                                                          ...
3            B                21/12/2018                     0.0
                              22/12/2018                     0.0
                              27/12/2018                     0.0
                              28/12/2018                     0.0
                              29/12/2018                     0.0

                                              Dividend_Payment_Date  \
Subfund_Code Share_Class_Code Valuation_Date
1            A                02/01/2018                        0.0
                              03/01/2018                        0.0
                              04/01/2018                        0.0
                              05/01/2018                        0.0
                              08/01/2018                        0.0
...                                                             ...
3            B                21/12/2018                        0.0
                              22/12/2018                        0.0
                              27/12/2018                        0.0
                              28/12/2018                        0.0
                              29/12/2018                        0.0

                                              Dividend_PCCY  \
Subfund_Code Share_Class_Code Valuation_Date
1            A                02/01/2018                  0
                              03/01/2018                  0
                              04/01/2018                  0
                              05/01/2018                  0
                              08/01/2018                  0
...                                                     ...
3            B                21/12/2018                  0
                              22/12/2018                  0
                              27/12/2018                  0
                              28/12/2018                  0
                              29/12/2018                  0

                                             Dividend_Payment_CCY  \
Subfund_Code Share_Class_Code Valuation_Date
1            A                02/01/2018                        0
                              03/01/2018                        0
                              04/01/2018                        0
                              05/01/2018                        0
                              08/01/2018                        0
...                                                           ...
3            B                21/12/2018                        0
                              22/12/2018                        0
                              27/12/2018                        0
                              28/12/2018                        0
                              29/12/2018                        0

                                             Dividend_Subfund_CCY  \
Subfund_Code Share_Class_Code Valuation_Date
1            A                02/01/2018                      EUR
                              03/01/2018                      EUR
                              04/01/2018                      EUR
                              05/01/2018                      EUR
                              08/01/2018                      EUR
...                                                           ...
3            B                21/12/2018                      NOK
                              22/12/2018                      NOK
                              27/12/2018                      NOK
                              28/12/2018                      NOK
                              29/12/2018                      NOK

                                              Total_Net_Assets
Subfund_Code Share_Class_Code Valuation_Date
1            A                02/01/2018          5.347299e+07
                              03/01/2018          5.361573e+07
                              04/01/2018          5.370689e+07
                              05/01/2018          5.394670e+07
                              08/01/2018          5.405191e+07
...                                                        ...
3            B                21/12/2018          1.386281e+09
                              22/12/2018          1.383648e+09
                              27/12/2018          1.395025e+09
                              28/12/2018          1.399943e+09
                              29/12/2018          1.439665e+09

[2542 rows x 17 columns]

In [260]:
#data quality checking
type(data.iloc[0]['NAV_Per_Share'])

numpy.float64

In [261]:
description = data.describe() #use it later for firebase
description

,Net_Asset_Value,Nb_Shares_Outstanding,NAV_Per_Share,Nb_Shares_Subscribed,Amount_Subscribed,Nb_Shares_Redeemed,Amount_Redeemed,Subfund_Long_Name,Dividend_Per_Share,Dividend_Payment_Date,Dividend_PCCY,Total_Net_Assets
count,2.542000e+03,2.542000e+03,2542.000000,2542.000000,2.542000e+03,2542.000000,2.542000e+03,0.0,2542.000000,2542.000000,2542.0,2.542000e+03
mean,3.394277e+08,3.232240e+06,379.033129,2145.204749,2.904312e+05,4959.589456,4.683472e+05,NaN,0.006541,542.403572,0.0,3.394277e+08
std,3.985079e+08,3.966065e+06,755.335554,12710.538732,2.207844e+06,17712.849893,2.329461e+06,NaN,0.100973,5235.959859,0.0,3.985079e+08
min,1.174690e+02,1.180000e+00,33.370400,0.000000,0.000000e+00,0.000000,0.000000e+00,NaN,0.000000,0.000000,0.0,1.174690e+02
25%,1.599386e+07,1.209026e+05,105.565750,0.000000,0.000000e+00,0.000000,0.000000e+00,NaN,0.000000,0.000000,0.0,1.599386e+07
50%,2.602002e+08,5.679709e+05,120.348200,0.000000,0.000000e+00,0.000000,0.000000e+00,NaN,0.000000,0.000000,0.0,2.602002e+08
75%,5.203370e+08,5.816585e+06,195.378500,644.253450,1.941963e+04,5222.659350,1.299846e+05,NaN,0.000000,0.000000,0.0,5.203370e+08
max,1.439665e+09,1.146561e+07,2870.822000,377702.624600,6.191460e+07,679271.177200,8.636259e+07,NaN,4.484000,51268.640000,0.0,1.439665e+09

In [262]:
data.loc[1]['Subfund_CCY']
#Fund 1 currency is Euro

Share_Class_Code  Valuation_Date
A                 02/01/2018        EUR
                  03/01/2018        EUR
                  04/01/2018        EUR
                  05/01/2018        EUR
                  08/01/2018        EUR
                                   ...
D                 21/12/2018        EUR
                  24/12/2018        EUR
                  27/12/2018        EUR
                  28/12/2018        EUR
                  31/12/2018        EUR
Name: Subfund_CCY, Length: 1004, dtype: object

In [263]:
data.loc[2]['Subfund_CCY']
#Fund 2 currency is USD

Share_Class_Code  Valuation_Date
A                 02/01/2018        USD
                  03/01/2018        USD
                  04/01/2018        USD
                  05/01/2018        USD
                  08/01/2018        USD
                                   ...
E                 21/12/2018        USD
                  24/12/2018        USD
                  27/12/2018        USD
                  28/12/2018        USD
                  31/12/2018        USD
Name: Subfund_CCY, Length: 1038, dtype: object

In [264]:
data.loc[3]['Subfund_CCY']
#Fund 3 currency is NOK

Share_Class_Code  Valuation_Date
A                 02/01/2018        NOK
                  03/01/2018        NOK
                  04/01/2018        NOK
                  05/01/2018        NOK
                  06/01/2018        NOK
                                   ...
B                 21/12/2018        NOK
                  22/12/2018        NOK
                  27/12/2018        NOK
                  28/12/2018        NOK
                  29/12/2018        NOK
Name: Subfund_CCY, Length: 500, dtype: object

In [265]:
#Check if missing data in Naw_per_share column
data['NAV_Per_Share'].isna().sum()
#No missing value

0

In [277]:
checkNa = data.isna().sum() #will use it for firebase
print(checkNa)
#The column Subfund_Long_Name is fill of NA

Subfund_CCY                 0
Net_Asset_Value             0
Nb_Shares_Outstanding       0
NAV_Per_Share               0
CCY_NAV_share               0
ISIN_Code                   0
Nb_Shares_Subscribed        0
Amount_Subscribed           0
Nb_Shares_Redeemed          0
Amount_Redeemed             0
Subfund_Long_Name        2542
Dividend_Per_Share          0
Dividend_Payment_Date       0
Dividend_PCCY               0
Dividend_Payment_CCY        0
Dividend_Subfund_CCY        0
Total_Net_Assets            0
dtype: int64

In [267]:
data.loc[1,"A",'02/01/2018']

Subfund_CCY                        EUR
Net_Asset_Value          53472989.0900
Nb_Shares_Outstanding      564961.4266
NAV_Per_Share                 111.6870
CCY_NAV_share                      EUR
ISIN_Code                 LU1234DEMO1A
Nb_Shares_Subscribed            0.0000
Amount_Subscribed               0.0000
Nb_Shares_Redeemed              0.0000
Amount_Redeemed                 0.0000
Subfund_Long_Name                  NaN
Dividend_Per_Share              0.0000
Dividend_Payment_Date           0.0000
Dividend_PCCY                        0
Dividend_Payment_CCY                 0
Dividend_Subfund_CCY               EUR
Total_Net_Assets         53472989.0900
Name: (1, A, 02/01/2018), dtype: object

In [222]:
data.loc[2,"A"]['NAV_Per_Share']
#Data stop at februray ????
#I don't think we can extraprolate the all missing series
#So we'll be using only the 34 first days
#However I know there exists a function pandas.interpolate but it doesn't make a lots of sense to extrapolate more than 8 months

Valuation_Date
02/01/2018    121.8232
03/01/2018    122.2126
04/01/2018    122.8616
05/01/2018    123.2982
08/01/2018    123.4280
09/01/2018    123.4162
10/01/2018    123.2864
11/01/2018    123.3926
12/01/2018    123.5696
15/01/2018    122.2952
16/01/2018    122.5784
17/01/2018    122.4722
18/01/2018    122.4958
19/01/2018    122.8616
22/01/2018    122.7436
23/01/2018    122.7436
24/01/2018    121.4574
25/01/2018    119.7700
26/01/2018    120.9382
29/01/2018    121.6462
30/01/2018    120.3364
31/01/2018    119.7110
01/02/2018    119.5458
02/02/2018    119.1800
05/02/2018    118.1652
06/02/2018    118.1180
07/02/2018    118.7552
08/02/2018    118.3422
09/02/2018    118.0944
12/02/2018    118.2360
13/02/2018    117.6342
14/02/2018    117.7050
15/02/2018    117.4690
16/02/2018    118.0590
Name: NAV_Per_Share, dtype: float64

In [223]:
import numpy as np
#I will store my new datas from all instruments in this dataFrame
Nav_per_Share_Matrix = pd.DataFrame(columns = ["1A","1B","1C","1D",'2A',"2B","2C","2D","2E","3A","3B"])
Nav_per_Share_Matrix

Empty DataFrame
Columns: [1A, 1B, 1C, 1D, 2A, 2B, 2C, 2D, 2E, 3A, 3B]
Index: []

In [224]:
data = pd.read_csv("ngt_software_engineer_test_example_data (clean columns).csv")
data.set_index( ['Subfund_Code', 'Share_Class_Code'],inplace = True)
data

                              Valuation_Date Subfund_CCY  Net_Asset_Value  \
Subfund_Code Share_Class_Code
1            A                    02/01/2018         EUR     5.347299e+07
             A                    03/01/2018         EUR     5.361573e+07
             A                    04/01/2018         EUR     5.370689e+07
             A                    05/01/2018         EUR     5.394670e+07
             A                    08/01/2018         EUR     5.405191e+07
...                                      ...         ...              ...
3            B                    21/12/2018         NOK     1.386281e+09
             B                    22/12/2018         NOK     1.383648e+09
             B                    27/12/2018         NOK     1.395025e+09
             B                    28/12/2018         NOK     1.399943e+09
             B                    29/12/2018         NOK     1.439665e+09

                               Nb_Shares_Outstanding  NAV_Per_Share  \
Subfund_Code Share_Class_Code
1            A                          5.649614e+05       111.6870
             A                          5.649742e+05       111.9820
             A                          5.653380e+05       112.1000
             A                          5.661307e+05       112.4422
             A                          5.662820e+05       112.6310
...                                              ...            ...
3            B                          5.951755e+06       274.8456
             B                          5.933465e+06       275.1642
             B                          5.933465e+06       277.4298
             B                          5.933259e+06       278.4210
             B                          6.098125e+06       278.5744

                              CCY_NAV_share     ISIN_Code  \
Subfund_Code Share_Class_Code
1            A                          EUR  LU1234DEMO1A
             A                          EUR  LU1234DEMO1A
             A                          EUR  LU1234DEMO1A
             A                          EUR  LU1234DEMO1A
             A                          EUR  LU1234DEMO1A
...                                     ...           ...
3            B                          NOK  LU1234DEMO3B
             B                          NOK  LU1234DEMO3B
             B                          NOK  LU1234DEMO3B
             B                          NOK  LU1234DEMO3B
             B                          NOK  LU1234DEMO3B

                               Nb_Shares_Subscribed  Amount_Subscribed  \
Subfund_Code Share_Class_Code
1            A                               0.0000       0.000000e+00
             A                               0.0000       0.000000e+00
             A                               0.0000       0.000000e+00
             A                              25.7948       2.441562e+03
             A                             549.7030       5.216649e+04
...                                             ...                ...
3            B                               0.0000       0.000000e+00
             B                               0.0000       0.000000e+00
             B                               0.0000       0.000000e+00
             B                          164866.3314       3.890021e+07
             B                               0.0000       0.000000e+00

                               Nb_Shares_Redeemed  Amount_Redeemed  \
Subfund_Code Share_Class_Code
1            A                             0.0000     0.000000e+00
             A                             0.0000     0.000000e+00
             A                             0.0000     0.000000e+00
             A                            12.9800     1.228545e+03
             A                           185.9798     1.764937e+04
...                                           ...              ...
3            B                         18290.0000     4.260107e+06
             B                             0.0000     0.000000e+00
             B                           206.5000     4.855021e+04
             B                             0.0000     0.000000e+00
             B                          3235.8668     7.639220e+05

                               Subfund_Long_Name  Dividend_Per_Share  \
Subfund_Code Share_Class_Code
1            A                               NaN                 0.0
             A                               NaN                 0.0
             A                               NaN                 0.0
             A                               NaN                 0.0
             A                               NaN                 0.0
...                                          ...                 ...
3            B                               NaN                 0.0
             B                               NaN                 0.0
             B                               NaN                 0.0
             B                               NaN                 0.0
             B                               NaN                 0.0

                               Dividend_Payment_Date  Dividend_PCCY  \
Subfund_Code Share_Class_Code
1            A                                   0.0              0
             A                                   0.0              0
             A                                   0.0              0
             A                                   0.0              0
             A                                   0.0              0
...                                              ...            ...
3            B                                   0.0              0
             B                                   0.0              0
             B                                   0.0              0
             B                                   0.0              0
             B                                   0.0              0

                              Dividend_Payment_CCY Dividend_Subfund_CCY  \
Subfund_Code Share_Class_Code
1            A                                   0                  EUR
             A                                   0                  EUR
             A                                   0                  EUR
             A                                   0                  EUR
             A                                   0                  EUR
...                                            ...                  ...
3            B                                   0                  NOK
             B                                   0                  NOK
             B                                   0                  NOK
             B                                   0                  NOK
             B                                   0                  NOK

                               Total_Net_Assets
Subfund_Code Share_Class_Code
1            A                     5.347299e+07
             A                     5.361573e+07
             A                     5.370689e+07
             A                     5.394670e+07
             A                     5.405191e+07
...                                         ...
3            B                     1.386281e+09
             B                     1.383648e+09
             B                     1.395025e+09
             B                     1.399943e+09
             B                     1.439665e+09

[2542 rows x 18 columns]

In [225]:
df1A = data.loc[1,"A"][:34]['NAV_Per_Share'].to_numpy()
df2A = data.loc[2,"A"][:34]['NAV_Per_Share'].to_numpy()
df3A = data.loc[3,"A"][:34]['NAV_Per_Share'].to_numpy()
df1B = data.loc[1,"B"][:34]['NAV_Per_Share'].to_numpy()
df2B = data.loc[2,"B"][:34]['NAV_Per_Share'].to_numpy()
df3B = data.loc[3,"B"][:34]['NAV_Per_Share'].to_numpy()
df1C = data.loc[1,"C"][:34]['NAV_Per_Share'].to_numpy()
df2C = data.loc[2,"C"][:34]['NAV_Per_Share'].to_numpy()
df1D = data.loc[1,"D"][:34]['NAV_Per_Share'].to_numpy()
df2D = data.loc[2,"D"][:34]['NAV_Per_Share'].to_numpy()
df2E = data.loc[2,"E"][:34]['NAV_Per_Share'].to_numpy()
df1A

array([111.687 , 111.982 , 112.1   , 112.4422, 112.631 , 112.4068,
       111.9584, 111.8286, 111.8286, 111.805 , 111.9466, 112.0174,
       111.8758, 111.805 , 112.0292, 112.513 , 112.2534, 111.8522,
       112.1   , 111.6752, 110.8256, 110.9672, 110.4244, 109.3978,
       108.088 , 106.7664, 107.3328, 105.8106, 105.3976, 106.0938,
       105.846 , 106.318 , 106.8726, 107.1676])

In [226]:
Nav_per_Share_Matrix['1A'] = df1A
Nav_per_Share_Matrix['2A'] = df2A
Nav_per_Share_Matrix['3A'] = df3A
Nav_per_Share_Matrix['1B'] = df1B
Nav_per_Share_Matrix['2B'] = df2B
Nav_per_Share_Matrix['3B'] = df3B
Nav_per_Share_Matrix['1C'] = df1C
Nav_per_Share_Matrix['2C'] = df2C
Nav_per_Share_Matrix['1D'] = df1D
Nav_per_Share_Matrix['2D'] = df2D
Nav_per_Share_Matrix['2E'] = df2E
Nav_per_Share_Matrix

,1A,1B,1C,1D,2A,2B,2C,2D,2E,3A,3B
0,111.6870,118.1770,126.3544,112.1118,121.8232,37.1110,196.0334,132.4432,121.4220,2508.1490,244.1892
1,111.9820,118.4956,126.6848,112.4068,122.2126,37.1818,196.6824,132.8680,121.8232,2517.0226,245.0270
2,112.1000,118.6254,126.8146,112.5248,122.8616,37.2526,197.7208,133.5642,122.4604,2512.3262,244.5904
3,112.4422,118.9794,127.2158,112.8670,123.2982,37.4296,198.4524,134.0480,122.9206,2513.3174,244.6848
4,112.6310,119.1800,127.4282,113.0558,123.4280,37.6302,198.6884,134.1896,123.0504,2531.0174,246.4076
5,112.4068,118.9558,127.1804,112.8316,123.4162,37.5122,198.6884,134.1778,123.0504,2526.4272,245.9356
6,111.9584,118.4956,126.6494,112.3832,123.2864,37.3824,198.4878,134.0362,122.9324,2524.2560,245.7350
7,111.8286,118.3540,126.5078,112.2534,123.3926,37.3824,198.6766,134.1424,123.0386,2531.3714,246.4312
8,111.8286,118.3540,126.5078,112.2534,123.5696,37.5594,198.9952,134.3430,123.2392,2532.0086,246.4902
9,111.8050,119.1092,126.4842,112.2298,122.2952,37.4296,198.9716,134.3076,123.2156,2541.1300,247.3752
10,111.9466,119.2508,126.6376,112.3714,122.5784,37.4650,198.7474,134.1306,123.0740,2537.9440,247.0448
11,112.0174,119.3452,126.7320,112.4422,122.4722,37.5712,198.7592,134.1424,123.0740,2532.8818,246.5728
12,111.8758,119.1918,126.5668,112.3006,122.4958,37.5122,198.7828,134.1424,123.0858,2544.8588,247.7292
13,111.8050,118.9558,126.8972,112.5956,122.8616,37.6184,199.0778,134.3312,123.2510,2560.1988,249.2278
14,112.0292,119.2154,127.1686,112.8316,122.7436,37.5358,199.3374,134.4964,123.4162,2571.2200,250.3016
15,112.5130,119.7464,127.7114,113.3154,122.7436,37.6184,200.0218,134.9448,123.8410,2567.0782,249.8768
16,112.2534,119.4750,127.4282,113.0558,121.4574,37.5830,199.3138,134.4964,123.3926,2563.7152,249.5582
17,111.8522,119.0974,126.9562,112.6428,119.7700,37.4414,198.4642,133.9418,122.8734,2574.2880,250.5848
18,112.1000,119.3452,127.2394,112.8906,120.9382,37.6302,199.3138,134.4846,123.3926,2576.4356,250.7972
19,111.6752,118.8850,126.7556,112.4658,121.6462,37.5948,199.2194,134.3548,123.3218,2583.5156,251.4816
20,110.8256,118.0000,125.7762,111.6044,120.3364,37.4060,197.9450,133.5170,122.5312,2570.1934,250.1718
21,110.9672,118.1652,125.9414,111.7460,119.7110,37.2054,197.6146,133.3046,122.3188,2573.4974,250.5022
22,110.4244,117.6106,125.3278,111.2032,119.5458,37.2644,197.5438,133.2574,122.2716,2593.8996,252.4846
23,109.3978,116.5132,124.1596,110.1648,119.1800,37.1582,196.4110,132.4668,121.5754,2596.2360,252.7088
24,108.0880,115.1326,122.6964,108.8550,118.1652,36.6508,194.4758,131.1216,120.3718,2602.1242,253.2870
25,106.7664,113.7284,121.1978,107.5216,118.1180,36.3086,193.2014,130.2248,119.5812,2601.4398,253.2044
26,107.3328,114.3066,121.8232,108.0880,118.7552,36.4502,193.4256,130.3428,119.7228,2601.1094,253.1808
27,105.8106,112.6900,120.0886,106.5540,118.3422,36.0962,192.1748,129.4814,118.9322,2600.5548,253.1218
28,105.3976,112.2652,119.6284,106.1410,118.0944,36.0608,191.6202,129.0920,118.5900,2600.5076,253.1218
29,106.0938,113.0204,120.4190,106.8490,118.2360,36.2378,192.2810,129.5050,119.0030,2607.3398,253.7826
30,105.8460,112.7608,120.1358,106.5894,117.6342,36.2496,192.5760,129.6938,119.1800,2607.9888,253.8298
31,106.3180,113.2446,120.6668,107.0614,117.7050,36.3204,193.5200,130.3074,119.7464,2611.7884,254.2074
32,106.8726,113.8582,121.3040,107.6278,117.4690,36.5682,194.2870,130.8148,120.2184,2606.7144,253.7118
33,107.1676,113.9998,122.0592,108.2886,118.0590,36.6390,194.7708,131.1334,120.5252,2612.8622,254.3136

In [227]:
#Now that all our data are saved, we can use the function corr() from pandas library
#And finally we have our correlation matrix for NAV_Per_Share between those 11 instruments
Nav_per_Share_Matrix.corr()

,1A,1B,1C,1D,2A,2B,2C,2D,2E,3A,3B
1A,1.000000,0.993214,0.997705,0.997753,0.905152,0.969578,0.958931,0.970729,0.963044,-0.808882,-0.808520
1B,0.993214,1.000000,0.995121,0.995166,0.872390,0.979731,0.972425,0.980329,0.975047,-0.752895,-0.752544
1C,0.997705,0.995121,1.000000,0.999997,0.885361,0.976551,0.967381,0.976964,0.970570,-0.772536,-0.772136
1D,0.997753,0.995166,0.999997,1.000000,0.885642,0.976559,0.967417,0.977009,0.970611,-0.772877,-0.772478
2A,0.905152,0.872390,0.885361,0.885642,1.000000,0.849762,0.846416,0.863706,0.854221,-0.894910,-0.894612
2B,0.969578,0.979731,0.976551,0.976559,0.849762,1.000000,0.990182,0.991829,0.990779,-0.679775,-0.679393
2C,0.958931,0.972425,0.967381,0.967417,0.846416,0.990182,1.000000,0.998809,0.999850,-0.655540,-0.655212
2D,0.970729,0.980329,0.976964,0.977009,0.863706,0.991829,0.998809,1.000000,0.999444,-0.687381,-0.687043
2E,0.963044,0.975047,0.970570,0.970611,0.854221,0.990779,0.999850,0.999444,1.000000,-0.667936,-0.667609
3A,-0.808882,-0.752895,-0.772536,-0.772877,-0.894910,-0.679775,-0.655540,-0.687381,-0.667936,1.000000,0.999997
3B,-0.808520,-0.752544,-0.772136,-0.772478,-0.894612,-0.679393,-0.655212,-0.687043,-0.667609,0.999997,1.000000

In [228]:
import firebase_admin
from firebase_admin import credentials

cred = credentials.Certificate("ngttest-f9e68-firebase-adminsdk-zcm6x-db972bffe5.json")
firebase_admin.initialize_app(cred)

ValueError: The default Firebase app already exists. This means you called initialize_app() more than once without providing an app name as the second argument. In most cases you only need to call initialize_app() once. But if you do want to initialize multiple apps, pass a second argument to initialize_app() to give each app a unique name.

In [229]:
from Crypto.Cipher import AES
import firebase
from firebase import firebase
import json

data = df.to_json(orient="index")
data = json.loads(data)
firebase = firebase.FirebaseApplication('https://ngttest-f9e68-default-rtdb.firebaseio.com/', None)
result = firebase.post('/allDataFrame',data)
print(result)

{'name': '-MVXJImzd_N6ZSKgvf6a'}

In [239]:
from Crypto.Cipher import AES
import firebase
from firebase import firebase
import json
description = description.to_json(orient="columns")
description = json.loads(description)
firebase = firebase.FirebaseApplication('https://ngttest-f9e68-default-rtdb.firebaseio.com/', None)
result = firebase.post('/DataFrame description',description)
print(result)

{'name': '-MVXJptmTa_3xr3x1pWM'}

In [302]:
from Crypto.Cipher import AES
import firebase
from firebase import firebase
import json
checkNa = checkNa.to_json(orient="index")
res = json.loads(checkNa)
firebase = firebase.FirebaseApplication('https://ngttest-f9e68-default-rtdb.firebaseio.com/', None)
result = firebase.post('/checkNa',res)
print(result)

{'name': '-MVXMYCaEJsu3-Ivonjg'}

In [301]:
from Crypto.Cipher import AES
import firebase
from firebase import firebase
import json

Subfund_CCY                 0
Net_Asset_Value             0
Nb_Shares_Outstanding       0
NAV_Per_Share               0
CCY_NAV_share               0
ISIN_Code                   0
Nb_Shares_Subscribed        0
Amount_Subscribed           0
Nb_Shares_Redeemed          0
Amount_Redeemed             0
Subfund_Long_Name        2542
Dividend_Per_Share          0
Dividend_Payment_Date       0
Dividend_PCCY               0
Dividend_Payment_CCY        0
Dividend_Subfund_CCY        0
Total_Net_Assets            0
dtype: int64